body {
	background-color: #333;
	color: #fff;
	font-family: sans-serif;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

ul {
	list-style: none;
	margin-left:0;
}

label {
	font-size: .7em;
}

.container {
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 3px 3px 4px #222;
	background-color: #444;
	margin: 1em 0 1em 1em;
}

.containerHead {
	margin:0;
	padding:.3em .3em .3em .7em;
	-webkit-border-radius: 5px 5px 0 0;
	background-color: #222;
	font-size: medium;
}

.containerContent {
	padding: .5em;
}

.clear{
	clear:both;
}

.button {
	margin:4px 0 0 .7em;
	height:40px;
	width: 40px;
	display: inline-block;
	background-color: #444;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-border-radius: 3px;
}

.button:hover {
	background-color: #666;
}

.button.addSetting{
	background-image: url('../img/setting_add.png');
}

.button.addDomain{
	background-image: url('../img/db_add.png');
}

.active {
	background-color:#222;
	font-weight: bold;
	 
}

#saveSetting {
	float:right;
}

#top {
	padding-top:3px;
	height: 52px;
	background-color: #111;
	-webkit-box-shadow: 3px 3px 4px #222;
}

#left {
	float:left; 
	width: 320px; 
	display: inline; 
	margin-left: 0;
}

#editSettings ul {
	padding: 0;
	margin:0;
}

input[type=text] {
	width:98%;
	background-color: #ccc;
}

#query{
	width:100%; 
	height: 80px;
	background-color: #ccc;
	border-color: #222222;
	margin-right:1em;
}

#queryResultContainer {
	padding:0;
	height: 650px;
	overflow: auto;
}

.closeContainer {
	-webkit-border-radius: 2px;
	border: 1px solid #222222;
	background-color:#770000;
	text-decoration: none; 
	color: white;
	font-weight: bold; 
	font-family: sans-serif;
	padding: 0 .3em 0 .3em;
	float: right;
	
}

table {
	border-spacing: .1em;
	width:100%;
}

table div {
	max-width: 200px;
	height:1.2em;
	overflow: hidden;
	margin: .4em 1em .4em 1em;
}

th, td {
	border: 0;
	border-width: 0;
	border-collapse: collapse;
}

th {
	background-color: #111111;
}

tr:nth-child(2n+1) {
	background-color: #222222;
}
 
tr:nth-child(2n) {
	background-color: #333333;
}

tr:hover {
	background-color: #111111;
}

#sdbDomains {
	padding: 10px 0 10px 0; 
	overflow:auto; 
	height: 700px;
}

#sdbDomains li {
	margin-left: 0;
	padding: .3em .5em .3em .5em;
	display: block;
	cursor: pointer;
}

#sdbDomains li:hover {
	background-color: #222;
}

#sdbDomains .active {
	padding-top: .8em;
	padding-bottom: .8em;
}

#deleteDomain {
	-webkit-border-radius: 3px;
	border: 1px solid #222222;
	background-color:#ff0000;
	text-decoration: none; 
	color: white;
	font-weight: bold; 
	font-family: sans-serif;
	padding: .2em .5em .2em .5em;
	margin-top: -.2em;
	float: right;
}

#saveDomain, #doQuery {
	float:right;
}

#right{
	float:left; 
	width: 1000px;
}
			